<div class="text-center border border-warning position-absolute top-50 start-50 translate-middle" style="border-radius: 15px;">
  <h4 class="text-dark mt-4 border-bottom pb-2 mx-4 mb-3">Please select:</h4>
  <h5 class="text-secondary">Gene</h5>
  <h5 class="text-secondary">Transcript</h5>
  <h5 class="text-secondary">At least one exon</h5>
  <a class='btn btn-warning mt-3 pl-1 py-1 w-100 text-dark shadow-none' href="/" style="border-radius: 0px 0px 15px 15px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-left-fill mr-1" viewBox="0 0 16 16">
      <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
    </svg>
    Back
  </a>

  <script>
    $("#dna_loading").hide();
  </script>
</div>
