{% for exon in statuses_dict %}
{% if statuses_dict[exon] == 'started' %}
  <p class="text-dark mb-1">{{ exon.replace('_', ' ') }}: initialization</p>
{% elif statuses_dict[exon] == 'request_to_pb' %}
  <p class="text-primary mb-1">{{ exon.replace('_', ' ') }}: primers design</p>
{% elif 'additional primers design' in statuses_dict[exon] %}
  <p class="text-warning mb-1">{{ exon.replace('_', ' ') }}: {{ statuses_dict[exon] }}</p>
{% elif statuses_dict[exon] == 'request_from_pb_received' %}
  <p class="text-primary mb-1">{{ exon.replace('_', ' ') }}: primers design completed</p>
{% elif statuses_dict[exon] == 'primers_were_found' %}
  <p class="text-success mb-1">{{ exon.replace('_', ' ') }}: primers were found</p>
{% elif statuses_dict[exon] == 'primers_were_not_found' %}
  <p class="text-danger mb-1">{{ exon.replace('_', ' ') }}: primers were not found for some reason</p>
{% elif statuses_dict[exon] == 'polymorphisms_checking' %}
  <p class="text-warning mb-1">{{ exon.replace('_', ' ') }}: polymorphisms checking</p>
{% elif statuses_dict[exon] == 'primers_do_not_contain_polymorphisms' %}
  <p class="text-success mb-1">{{ exon.replace('_', ' ') }}: primers do not contain polymorphisms</p>
{% elif statuses_dict[exon] == 'primers_contain_polymorphisms' %}
  <p class="text-danger mb-1">{{ exon.replace('_', ' ') }}: all designed primers contain polymorphisms</p>
{% else %}
  <p class="text-dark mb-1">{{ exon.replace('_', ' ') }}: {{statuses_dict[exon]}}</p>
{% endif %}

{% endfor %}
{% if statuses_dict|length < '20'|int %}
  {% for _ in range(1, 20 - statuses_dict|length) %}
    <br>
  {% endfor %}
{% endif %}

<script>
  var gp_request_id=document.getElementById("gp_request_id").value;
  $.ajax({
      type: "POST",
      url: "/statuses",
      data: JSON.stringify({gp_request_id: gp_request_id}),
      contentType: "application/json; charset=UTF-8",
      success: function(response) {
          $('#statuses_place').html(response)
          console.log(response);
      },
      error: function(error) {
          console.log(error);
      }
  });
</script>
